.regBtn {
  border-radius: 0.3rem;
  box-shadow: 0 0 2px rgb(75, 73, 73);
  transition: all 0.2s ease-in-out;
}

.regBtn:hover {
  background-color: var(--primaryColor);
  transform: scale(1.1);
}

.submitBtn {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  background-color: var(--primaryColor);
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  transition: background 0.2s ease-in-out;
  margin: 1rem auto;
}

.submitBtn:hover {
  background-color: var(--baseColor);
}
